mixin mainContentItem(imgSrc, title, titleSpan, itemDate, itemText)
    .main-content_item
        .item-main
            img(src=imgSrc, alt="#")
            .item-content
                h2= title
                p.title-span= titleSpan
                p.item-date= itemDate
                p.tem-text= itemText